<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Mise &agrave; jour categorie</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="styles.css" rel="stylesheet" type="text/css" media="all" />
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
 <script src="js/angular.min.js"></script>
<body>
		<div class="row" style="text-align: center;">
    		<div class="col-sm-8">
    			<h2><p class="row">Mise &agrave; jour categorie</p></h2>
    		</div>
    	</div>
		<div style="text-align:center;width: 300px;height: auto; margin: 0 auto;
		background-color: grey; padding-top: 20px; padding-bottom: 20px;">
			
			<form ng-app="myAppAdd" ng-controller="myCtrlAdd" ng-init="myColor='white';mySwitch=false">
				<div id="upd">
					Nom: <select style="width: 130px;" ng-model="myCat"> <option value=""></select> <br/><br/><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					 Unit&eacute;: <select style="width: 130px;" ng-model="myUnit"><option value=""></select>
					<span><button ng-click="update()">Modifier</button></span><br /> <br /> <br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="modif" type="text" style="width: 130px; display: none"/>
				</div>
				<div id="add">
					<p>Ajout&eacute; une unit&eacute;<br /></p>
					Unit&eacute;: <input type="text" ng-model="unite" > <br /> <br /> <br />
				</div>
					<div ng-click="addChamp()" style="background-color:#398ed5; width: 85px;height:85px; 
					margin: 0 auto;">
						<!--<h1 style="padding-top: 0px; font-size: 5em">+</h1>-->
					</div><br /><br />
    			<button ng-click="">Soumettre</button>
			</form>
		</div>
    		
	<script>
		var app = angular.module('myAppAdd', []);
		app.controller('myCtrlAdd', function($scope) {
    	$scope.nom = "NAMA";
    	//$scope.lastName= "Doe";
    	$scope.count = 1;
    	$scope.update = function() {
    		jQuery("#modif").css("display","");
    		jQuery("#upd").append("<br /><br /><br />");
    		}
    		
    		$scope.addChamp = function() {
    		var champInsertion = "<input>";
    		jQuery(champInsertion).attr('type',"text");
    		jQuery(champInsertion).attr('ng-model',"unite" + $scope.count);
    		jQuery("#add").append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;");
    		jQuery("#add").append(champInsertion);
    		jQuery("#add").append("<br /><br /><br />");
    		
    		$scope.count++;
    		//alert(jQuery(champInsertion).attr('id'));
    		//jQuery(champInsertion).children("input").attr('id', "unite" + $scope.count);
    		//alert(jQuery(champInsertion).children("input").attr('id'));
    		//jQuery(champInsertion).children("label").remove();
    		//jQuery("div").append(champInsertion);
    		//document.write(jQuery("champInsertion").children("#btn"));
    		//alert(jQuery(champInsertion).children("input").attr('id'));	
    		//$scope.count++;
    		//jQuery("button").remove("#btn");
    		//jQuery(champInsertion).children("label").remove();
    		//jQuery(champInsertion).attr('id', "divUnite" + $scope.count);
    		//jQuery(champInsertion).children("input").attr('id', "unite" + $scope.count);
    		//jQuery("#unite" + $scope.count).after(champInsertion);
    	
    	}
		});
</script>
</body>
</html><!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		
	</body>
</html>